{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}

	<div
		class="contenu">
		{# <h1 class="fst-italic text-center">Mon panier</h1> #}
		<main class="container mt-5">
			<div class="row">
				<div class="col-8">
					<h2 class="text-center text-white">Mon panier</h2>
					<table class="table text-white" id="formulaire">
						<thead>
							<tr>
								<th>produit</th>
								<th>Prix</th>
								<th>Quantité</th>
								<th>Total</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for element in data %}
								<tr>
									<td>{{ element.produit.libelleProduit }}</td>
									{# penser à %par 100 si les prix sont en centimes #}
									<td>{{ element.produit.prix }}
										€</td>
									<td>{{ element.quantite }}</td>
									<td>{{ element.quantite * element.produit.prix }}
										€</td>
									<td>
										<a href="{{ path('panier_retirer', {id: element.produit.id }) }}" class="btn btn-danger">-</a>
										<a href="{{ path('panier_ajout', {id: element.produit.id }) }}" class="btn btn-success">+</a>
										<a href="{{ path('panier_supprimer', {id: element.produit.id }) }}" class="btn btn-secondary">Suppr</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="5">Le panier est vide</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<td colspan="3">Total</td>
								<td colspan="1">
									<b>{{ total }}
										€</b>
								</td>
								<td colspan="">
									<a href="#" class="btn btn-secondary">Supprimer ma commande</a>
								</td>
							</tr>
						</tfoot>
					</table>
					<a href="{{ path('app_commande_ajout') }}" class="btn btn-primary">Valider ma commande</a>
					{# je redirige vers le détail de la commande #}
					{# <a href="{{ path('commande_detail', {'id': commande.id}) }}">Mes commandes</a> #}
					{# {% if commande is defined %} #}
						{# <a class="text-white" href="{{ path('panier_commande_detail', {'id': commande.id}) }}">Mes commandes</a> #}
						<a class="btn btn-primary"  href="{{ path('app_commande_panier_commandes') }}" >Mes commandes</a>
					{# <a class="btn btn-primary"  href="{{ path('panier_commandes') }}" >Mes commandes</a> #}
					{# {% else %}
						<p>Aucune commande trouvée</p>
					{% endif %} #}
					{# <a href="{{ path('panier_valider') }}" class="btn btn-primary">Valider ma commande</a> #}
					{# <a href="#" class="btn btn-primary">Retour</a> #}

				</div>
			</main>
		</div>
		{# {% include "partials/footer.php" %} #}
	{% endblock %}

