{% extends 'base.html.twig' %}

{% block title %}Connexion!
{% endblock %}

{% block body %}
	<div class="contenu">
		<h1 class="fst-italic">Inscription</h1>

		<div class="container">

			<div class="row text-center">
				<div class="col-4 mx-auto">

					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-5">
								Vous êtes connecté en tant que
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Se déconnecter</a>
							</div>
						{% endif %}

						<h1 class="h3 mb-5 font-weight-normal">Connectez vous</h1>
						 <!-- Affichage des messages flash ici -->
						 {% for message in app.flashes('success') %}
						<div class="alert alert-success">{{ message }}</div>
					{% endfor %}

					{% for message in app.flashes('error') %}
						<div class="alert alert-danger">{{ message }}</div>
					{% endfor %}

						{# test different visuel des input #}
						{# <div class="form-floating mb-3">
    <input type="email" value="{{ last_email }}" name="email" id="inputEmail" class="label-floating" style="position: absolute; left: 0.5rem; top: 2rem; border-top: 25%" autocomplete="email" required autofocus>
    <label for="inputEmail">Email</label>
</div> #}
{# <div class="form-floating">
        <input type="email" value="{{ last_email }}" name="email" id="inputEmail" required autocomplete="email" autofocus placeholder=" ">
        <label for="inputEmail">Email</label>
    </div> #}
 
						<label class="mb-3" for="inputEmail">Email</label>
						<input type="email" value="{{ last_email }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
						<label class="mt-4 mb-3" for="inputPassword">Mot de passe</label>
						<div class="input-group mb-4">
							<input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
							<span class="input-group-text">
								<i class="bi bi-eye-slash" name="pass" type="text" id="pass" style="cursor: pointer" OnClick="changer"></i>
						 	</span>
					 	</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<div class="checkbox mb-3 text-start">
							<label>
								<input type="checkbox" name="_remember_me">
								Se souvenir de moi
							</label>
						</div>
						<div>
							<a class="text-decoration-underline"  href="{{ path('app_forgot_password_request') }}">
								Mot de passe oublié ?
							</a>
						</div>
						{# <hr class="my-2"> <!-- Ligne horizontale --> #}
					<div class="row mt-3">
						<div class="d-grid gap-3 col-4 mx-auto mb-3">
							<button class="submit" type="submit">
								Connexion
							</button>
						</div>
					</div>
					<hr class="my-2 my-long-line"> <!-- Ligne horizontale -->
						<div class="d-grid  col-6 mx-auto mb-5">
							Je n'ai pas de compte ?
							{# <a class="submit" href="{{ path('app_register') }}">
								Créer un compte
							</a> #}
							<a  href="{{ path('app_register') }}" class="text-decoration-underline mt-3">
							Créer un compte
						</a>
						</div>
                        </div>
					</form>
                    
				</div>
			</div>
		</div>
	</div>

	{# {% include "partials/footer.php" %} #}
</div>{% endblock %}
