{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{# <div class="alert alert-danger" role="alert">{{ 'Access Denied.' | trans({}, 'messages') }}</div> #}
	{% endfor %}

	<div class="contenu">

		<div class="container">
			<h1 class="fst-italic mx-auto">Inscription</h1>


			<div class="row justify-content-center">
				<div class="col-md-6">
					{{ form_start(form) }}
					<div class="mb-3">
						{{ form_label(form.nom) }}
						{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.nom) }}
					</div>
					<div class="mb-3">
						{{ form_label(form.prenom_client, 'Prénom') }}
						{{ form_widget(form.prenom_client, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.prenom_client) }}
					</div>
					<div class="mb-3">
						{{ form_label(form.email) }}
						{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.email) }}
					</div>
							<div class="mb-3">
								{{ form_label(form.prenom_client, 'Adresse') }}
							</div>

							<div class="mb-3">
								{{ form_label(form.adresse_client, 'Voie') }}
								{{ form_widget(form.adresse_client, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.adresse_client) }}
							</div>
							<div class="mb-3">
								{{ form_label(form.ville_client, 'Ville') }}
								{{ form_widget(form.ville_client, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.ville_client) }}
							</div>
							<div class="mb-3">
								{{ form_label(form.code_postal_client, 'Code postal') }}
								{{ form_widget(form.code_postal_client, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.code_postal_client) }}
							</div>

							<div class="mb-3">
								{{ form_label(form.telephone_client) }}
								{{ form_widget(form.telephone_client, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.telephone_client) }}
							</div>
							<div class="mb-3">
								{{ form_label(form.agreeTerms, 'J\'accepte les conditions') }}
                        {{ form_widget(form.agreeTerms) }}
                        {{ form_errors(form.agreeTerms) }}
                    </div>
                                    {# {{ form_end(form) }} #}

                    <div class="d-grid gap-3 col-3">
                        <button type="submit" class="submit">Enregistrer mes modifications</button>
                    </div>
                {{ form_end(form) }}

							</div>
						</div>
					</div>
				</div>
            {# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Modifier</button>
{{ form_end(form) }} #}
				{# {% include "partials/footer.php" %} #}
			</div>

		{% endblock %}
