{% extends 'base.html.twig' %}

{% block title %}Green Village
{% endblock %}

{% block body %}
	<div class="contenu">
		<h1 class="row col-12 text-center">Tous nos instruments</h1>


	{# <main class="container"> #}
		{# <div class="row mt-5"> #}

			{# {{ artist.name}}</h1> #}
			{# <a href="{{ path('app_discs_artist', {'artist_id': artist.id}) }}">
									                            {{ artist.name}} #}

			<!-- <a href="add_form.php" class="btn btn-primary float-end">Ajouter</a> -->
				{# <div class="col-md-6 mb-4">  #}
				<div class="col-10 mx-auto"> 

				<div class="d-flex flex-wrap justify-content-around">

					{% for produit in produit %}

						<div class="card m-2" style="width: 18rem;">
							<img src="{{ asset('IMG/' ~ produit.photo) }}" alt="{{ produit.libelleProduit }}">
							<div class="card-body">
								<h5 class="card-title">
									{{ produit.libelleProduit }}</h5>
								<p class="content bg-body">
									{{ produit.prixAchatHt}}€
						{# </form> #}
						{% if produit.quantiteStock > 0 %}
							<button type="submit" class=" d-block mt-5 btn btn-success mx-auto mb-3" {# href="{{ path('panier_ajout', {id: disc.id})}}" #}>
								Ajouter au panier
								{# <i class="bi bi-basket"></i> #}
							</button>
							{% else %}
                                        <p class="text-danger text-center">Dsl stock Epuisé ...</p>
                                    {% endif %}
							{# </form> #}
						</div>
				</div>
				{# Si vous avez affiché 2 cartes, fermez la rangée actuelle et commencez une nouvelle rangée #}
				{# {% if loop.index is even %}
										</div>
									<div class="row"> {% endif %} #}
			{% endfor %}
											</div>

				<li class="nav-item text-orange">
		<a class="nav-link text-center" href="{{ path('app_categorie') }}">Retour au catalogue</a>
	</li>


		</div>
	{# </div> #}
{# </main> #}
</div>
{% include "partials/footer.php" %}{% endblock %}
