{% extends 'base.html.twig' %}

{% block title %}
	Green Village
{% endblock %}

{% block body %}
	{{ encore_entry_script_tags('app1') }}

	{% include "partials/banniere.html.twig" %}

	<div	class="contenu">
		<main	class="container">
			<div	class="row">
				<div	class="d-flex flex-wrap justify-content-around">
					<div	class="col-md-4 mb-5 align-items-center text-center">
						<div	class="card m-2"	style="width: 18rem, position: relative">
							<div	class="image-container"	style="position: relative;">
								<img	class=" mx-auto"	src="{{ asset(produit.photo) }}"	alt="{{ produit.libelleProduit }}">
									<a	class="heart-icon"	href="{{ path('add_to_favorites', { id: produit.id }) }}"	id="favorite"	title="Ajouter aux favoris">
										<i	class="bi bi-heart"></i>
									</a>
								</div>
								<div	class="card-body">
									<h5	class="card-title">
										{# <a href="{{ path('app_detail_produit', {'id': produit.id}) }}"></a> #}
										{{ produit.libelleProduit }}
									</h5>
									<p	class="content bg-body">
										{{ produit.prix }}
										euros
									</p>
								</div>
								<div	class="card-footer mt-2"></div>
								{% if produit.quantiteStock == 0 %}
									<p	class="text-danger">
										Stock épuisé !
									</p>
								</div>
							{% else %}
								<form	action="{{ path('panier_add', {'id': produit.id}) }}"	method="post">
									<div	class="d-flex justify-content-center">{# ***les quantités***
									Je décide de mettre les quantités dans le  panier #}

									{# <button class="btn btn-secondary bg-danger quantity-button" href="{{ path('panier_retirer', {id: produit.id }) }}"  data-produit-id="{{ produit.id }}" data-action="decrement">-</button>
									<input name="quantite" value="1" min="1" max="10" class="quantity-input col-2 text-center" data-disc-id="{{ disc.id }}" type="number"> #}

									{# ***bouton lien d'ajout au panier*** #}
									{# </button class="btn btn-secondary bg-success quantity-button" href="{{ path('panier_ajout', {id: produit.id }) }}" data-produit-id="{{ produit.id }}" data-action="increment">+</button>
									</div>  #}

									{# vers panier #}
									{# <button	type="submit"	class=" d-block mt-5 btn btn-success mx-auto mb-3"	href="{{ path('panier_add', {id: produit.id}) }}">	ajouter au panier
									</button> #}

									{# vers modal #}
									{# <button type="button" class=" d-block mt-5 btn btn-success mx-auto mb-3" data-bs-toggle="modal" data-bs-target="#modal{{ plat.id }}">Ajouter au panier</button>
									</button> #}
								</div>
								{# {% if loop.index is even %} #}
								{# <div class="row">
								#}
							</form>
							{% endif %}
						<div	class="row">	</div>
						</div>
					</div>
					<div>
						<p	class="content bg-body">
						{{ produit.descriptionProduit }}
						</p>

						<p	class="content bg-body">
							{{ produit.prix }}
							euros
						</p>
					</div>
					<div	class="nav-item text-orange">
						<a	class="nav-link text-center"	href="{{ path('app_categorie') }}">
							Retour au catalogue
						</a>
						{# </div>
						<div	class="nav-item text-orange"> #}
						{# <a	class="nav-link text-center"	href="{{ path('panier_index') }}">
							Voir le panier
						</a> #}
						{# {% if productAdd %}
							<a	class="d-block mt-5 btn btn-success mx-auto mb-3"	href="{{ path('panier_index') }}">
							Voir le panier
							</a>
						{% else %} #}
						{# vers panier #}
							<a	class=" d-block mt-5 btn btn-success mx-auto mb-3"	href="{{ path('panier_add', {id: produit.id}) }}">	AJOUTER AU PANIER +
						</a>
						{# Formulaire pour la quantité avec une liste déroulante #}
						{# <form action="{{ path('panier_ajout', {id: element.produit.id}) }}" method="post">
							<select name="quantite" onchange="this.form.submit()">
							{% for i in 1..10 %}
							<option value="{{ i }}" {% if i == element.quantite %} selected {% endif %}>
							{{ i }}
							</option>
							{% endfor %}
							</select>
							<input type="hidden" name="action" value="update">
						</form> #}

						{# {% endif %} #}

						{# <button	type="submit"	class=" d-block mt-5 btn btn-success mx-auto mb-3"	href="{{ path('panier_add', {id: produit.id}) }}">
						ajouter au panier #}
						{# <i class="bi bi-basket"> #}
						{# </button> #}

						<!-- /// LA MODAL D'AJOUT AU PANIER / Message flash d'ajout au panier/// -->
						{# <div class="modal fade" id="modal{{ plat.id }}" tabindex="-1"> #}
							{% for message in app.flashes('success') %}
								<div	class="alert alert-success">	{{ message }}
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</main>
	</div>
	{% include "partials/footer.html.twig" %}

{% endblock %}
