{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}

{# {{ encore_entry_script_tags('app') }} #}
{{ encore_entry_script_tags('app1') }}


	{# Banniere categories #}

				<div class="row align-items-center bg-dark banniere mx-auto text-center">
				{% for  categorie in categories %}
					{# afficher uniquement les categories parent #}
					{% if categorie.parentCategorie is null %}
						<div class="col">
						<div class="dropdown">
							<a href="{{ path('app_sous_categorie', {'parent_categorie_id': categorie.id}) }}" class="text-white font-weight-bold"
							id="dropdown{{ categorie.id }}" 
                        data-bs-toggle="dropdown" aria-expanded="false">
								{{ categorie.libelleCategorie}}
							</a>
						{# Afficher les sous-catégories si elles existent "code en comment" #}
						{% if categorie.categories is not empty %}
							<ul	class="dropdown-menu">
								{% for sousCategorie in sous_categories %}
									<li>
										<a	class="dropdown-item"	href="{{ path('app_sous_categorie', {'parent_categorie_id': categorie.id, 'sous_categorie_id': sousCategorie.id}) }}"	class="dropdown-item">
											{# {{ categorie.libelleCategorie }} #}
											{{ sousCategorie.libelleCategorie }}
										</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}

                </div>
						</div>
					{% endif %}
				{% endfor %}
			</div>

<div id="app1-root"></div>


	<div class="contenu">
				
		{# Caroussel des produits far #}
		{# <div	class="container mx-auto"> #}
		<div id="carousel" class="carousel carousel slide" {#data-bs-ride="carousel" #} {#data-bs-touch="false"#}>
			<div	class="carousel-inner mb-5">
				{# {% set produitsAleatoires = produits|shuffle %} #}

				<!-- Première diapositive active avec 3 images -->
					<div	class="carousel-item active mx-auto"	{# data-bs-interval="7200" #}>	
					<div	class="row">
						{% for produit in produitsAleatoires|slice(0, 3) %}
							{# <div	class="col-4 d-flex justify-content-center"> #}
							<div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
								<div	class="card m-2"	style="width: 10rem;">
									<img	class="card-img-top zoom-img"	src="{{ produit.photo }}"	alt="">
										<div	class="card-body">
											<h5	class="card-title">
												{{ produit.libelleProduit }}
											</h5>
										</div>
									</div>
								</div>
							{% endfor %}
						<!-- Boutons de navigation -->
                <button class="carousel-control-prev position-absolute" type="button" data-bs-target="#carousel"
                    data-bs-slide="prev">
                    <i class="bi bi-arrow-left-circle-fill"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next position-absolute" type="button" data-bs-target="#carousel"
                    data-bs-slide="next">
                    <i class="bi bi-arrow-right-circle-fill"></i>
                    <span class="visually-hidden">Next</span>
                </button>

						</div>
					</div>

					<!-- Deuxième diapositive avec 3 images -->
					<div	class="carousel-item"	{# data-bs-interval="7200" #}>
						<div	class="row">
							{% for produit in produitsAleatoires|slice(3, 3) %}
								{# <div	class="col-4 d-flex justify-content-center"> #}
								<div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
									<div	class="card m-2"	style="width: 10rem;">
										<img	class="card-img-top zoom-img"	src="{{ produit.photo }}"	alt="">

											<div	class="card-body">
												<h5	class="card-title">
													{{ produit.libelleProduit }}
												</h5>
											</div>
										</div>
									</div>
								{% endfor %}
								  <!-- Boutons de navigation -->
                <button class="carousel-control-prev position-absolute" type="button" data-bs-target="#carousel"
                    data-bs-slide="prev">
                    <i class="bi bi-arrow-left-circle-fill"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next position-absolute" type="button" data-bs-target="#carousel"
                    data-bs-slide="next">
                    <i class="bi bi-arrow-right-circle-fill"></i>
                    <span class="visually-hidden">Next</span>
                </button>
							</div>
						</div>

						<!-- Troisième diapositive avec 3 images -->
						<!-- Contrôles précédent et suivant -->
						{# <div class="carousel-controls text-center mt-3">
						<button	class="carousel-control-prev"	type="button"	data-bs-target="#carousel"	data-bs-slide="prev">
							<i class="bi bi-arrow-left-circle-fill" style="font-size: 2rem; color: green"></i>
							<span	class="visually-hidden">
								Previous
							</span>
						</button>
						<button	class="carousel-control-next"	type="button"	data-bs-target="#carousel"	data-bs-slide="next">
							<i class="bi bi-arrow-right-circle-fill" style="font-size: 2rem; color: green"></i>
							<span	class="visually-hidden">
								Next
							</span>
						</button>
						</div> #}
					</div>
				</div>
				    			<hr style="border: none; border-top: 2px solid #000; margin: 20px 0;">

		<div	class="container mx-auto">

				{# Barre de recherche #}

				{# <ul>
					{% for produit in produits %}
					<li>{{ produit.libelleProduit }}
					</li>
					{% else %}
					<li>Aucun produit trouvé.</li>
					{% endfor %}
					</ul>
					<form class="form-inline my-2 my-lg-0 text-center">
					{{ form_start(form, {'attr': {'class': 'form-inline my-2 my-lg-0 text-center'}}) }}
					{{ form_widget(form.query) }}
					{{ form_widget(form.recherche) }}
					{{ form_end(form) }}
					</form>
					{{ form_start(form) }}
					{{ form_row(form.categorie) }}
					{{ form_row(form.query) }}
					<button type="submit">Rechercher</button>
					{{ form_end(form) }}
					
					<h2>Résultats</h2>
					{% if produits is not empty %}
					<ul>
					{% for produit in produits %}
					<li>{{ produit.libelleProduit }}</li>
					{% endfor %}
					</ul>
					{% else %}
					<p>Aucun produit trouvé.</p>
				</div> #}
				{# <div class="mt-5"> #}

				{# Affichage des top ventes #}
					<h2	class="text-center	mt-8">	Nos catégories
				</h2>
				<div	class="row	mt-4">
					<div	class="d-flex flex-wrap justify-content-around">
						{% for  categorie in categories %}
							{# ici je vais mettre une condition pour afficher uniquement les categories parent #}
							{% if categorie.parentCategorie is null %}
								<div	class="col-md-4 mb-5">
									<div	class="card w-50"	id="images">
										{# Lien vers les sous-catégories  nom de la route,
										je passe l'id de la categorie parent à la route #}
										<a	href="{{ path('app_sous_categorie', {'parent_categorie_id': categorie.id}) }}">
											<img	class="card-img-top mx-auto"	src="{{ asset(categorie.imageCategorie ?? 'default-image.jpg') }}"	alt="{{ categorie.imageCategorie }}">
												<div	class="card-body">
													<h5	class="card-title mt-5">
														{{ categorie.libelleCategorie }}
													</h5>
												</a>
												<p	class="card-text">{# {{ categorie.descriptionCategorie}}</p> #}
												</div>
											</div>
										</div>
									{# {% if loop.index is even %}
										</div>
										<div class="row">
									{% endif %} #}
									{% endif %}
								{% endfor %}
							</div>
						</div>

						{# <div class="d-flex flex-wrap justify-content-around">
							{% for produit in topProduits %}
							<div class="card m-2" style="width: 15rem;">
							<img class="card-img-top zoom-img" src="{{ asset('img/' ~ produit.photoProduit) }}" alt="">
							<div class="card-body">
							<h5
							class="card-title">
							{{ produit.libelle_categorie }}</h5>
							</div>																																															</div>
						{% endfor %} #}
						<div	class="col-md-6 mx-auto">
							{# <div class="nav-item">
								<a class="nav-link text-center text-orange" href="{{ path('app_categorie') }}">Notre Catalogue</a>
							</div> #}
							{# <img class="card-img-top mx-auto w-50 img-centered" src="{{ asset('IMG/les_violons.webp') }}" alt="{{ "violons" }}">  #}

								<div	class="nav-item">	<a	class="nav-link text-center text-orange"	href="{{ path('app_produit') }}">
									Tous nos  instruments
								</a>
							</div>
						</div>
						</div>
					{# <div class="text-center">
					<a href="{{ path('app_easter') }}">  <img  src="{{ asset('img/tape.webp') }}" alt="k7"></a> #}
					</div>
								{% include "partials/footer.html.twig" %}

				</div>

			{# {% include "partials/.php" %} #}

			{# {{ encore_entry_script_tags('app') }} #}
			<script>var myCarousel = document.getElementById('carousel');

// Empêche le défilement automatique
var carouselInstance = new bootstrap.Carousel(myCarousel, {
    interval: false,  // Désactive l'intervalle automatique
    ride: false,      // Aucun défilement automatique
    touch: false      // Désactive les glissements tactiles
});
</script>


			{% endblock %}
			