{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="contenu">

		<h2 class="text-white text-center">Bienvenue à Green Village</h2>
		<form class="form-inline my-2 my-lg-0 text-center">
      <input class="form-control-sm mr-sm-2" type="search" {# value="{{ searchTerm }}" #} placeholder="recherche" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
    </form>
	 {# <ul>
        {% for produit in produits %}
            <li>{{ produit.libelleProduit }} </li>
        {% else %}
            <li>Aucun produit trouvé.</li>
        {% endfor %}
    </ul> #}
    {# <form class="form-inline my-2 my-lg-0 text-center">
    {{ form_start(form, {'attr': {'class': 'form-inline my-2 my-lg-0 text-center'}}) }}
        {{ form_widget(form.query) }}
        {{ form_widget(form.recherche) }}
    {{ form_end(form) }}
</form> #}
     {# {{ form_start(form) }}
        {{ form_row(form.categorie) }}
        {{ form_row(form.query) }}
        <button type="submit text-white">Rechercher</button>
    {{ form_end(form) }}

    <h2>Résultats</h2>
    {% if produits is not empty %}
        <ul>
        {% for produit in produits %}
            <li>{{ produit.libelleProduit }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Aucun produit trouvé.</p>
        </div> #}
<div class="mt-5">
		{# <h2 class="text-white text-center">Bienvenue à Green Village</h2> #}

			{# <h2 class="text-white text-center">Notre Catalogue</h2> #}
			{# <div class="d-flex flex-wrap justify-content-around">
						{% for produit in topProduits %}
							<div class="card m-2" style="width: 15rem;">
								<img class="card-img-top zoom-img" src="{{ asset('img/' ~ produit.photoProduit) }}" alt="">
								<div class="card-body">
									<h5
										class="card-title">
										{{ produit.libelle_categorie }}</h5>
								</div>
							</div>
						{% endfor %} #}
<!-- Présentation détaillée -->
    <div class="presentation mt-5">
        <h3 class="text-white text-center">À propos de Green Village</h3>
        <p class="text-white">
            Green Village se spécialise dans la distribution d'instruments de musique de haute qualité pour les professionnels et les passionnés. Nous offrons une large gamme de produits allant des guitares et pianos aux percussions et accessoires. Notre objectif est de fournir des instruments qui répondent aux attentes des musiciens les plus exigeants.
        </p>

        <h4 class="text-white">Nos Produits</h4>
        <p class="text-white">
            Nous proposons une variété d'instruments allant des modèles classiques aux plus modernes. Que vous recherchiez une guitare électrique pour un concert ou un piano pour un studio d'enregistrement, nous avons ce qu'il vous faut. Nos produits sont sélectionnés pour leur qualité et leur fiabilité, afin d'assurer une performance exceptionnelle à chaque utilisation.
        </p>

        <h4 class="text-white">Pourquoi Choisir Green Village ?</h4>
        <p class="text-white">
            En tant que grossiste, nous comprenons les besoins des détaillants et des professionnels de la musique. Nous nous engageons à offrir non seulement des produits de premier choix, mais aussi un service client de premier ordre. Nos experts sont disponibles pour vous conseiller et vous aider à choisir les meilleurs instruments pour vos besoins spécifiques.
        </p>

        <h4 class="text-white">Découvrez Notre Catalogue</h4>
        <p class="text-white">
            Explorez notre catalogue en ligne pour découvrir l'ensemble de notre gamme. Nous mettons à jour régulièrement notre offre pour inclure les dernières nouveautés et tendances du marché. Vous trouverez également des promotions spéciales et des offres exclusives pour nos partenaires.
        </p>
    </div>		
    <div class="col-md-6 mx-auto">
    <li class="nav-item">
				<a class="nav-link text-center text-orange"  href="{{ path('app_categorie') }}" >Notre Catalogue</a>
				</li>
				{# <img class="card-img-top mx-auto w-50 img-centered" src="{{ asset('IMG/les_violons.webp') }}" alt="{{ "violons" }}">  #}

			<li class="nav-item">
				<a class="nav-link text-center text-orange"  href="{{ path('app_produit') }}" >Tous nos  instruments</a>
			</li>
		</div>
		{# <div class="text-center">
					<a href="{{ path('app_easter') }}">  <img  src="{{ asset('img/tape.webp') }}" alt="k7"></a> #}
</div>
</div>

			{% include "partials/socialIcons.php" %}

			{# {% include "partials/footer.html.twig" %} #}

</div>

{% endblock %}
