{% extends 'base.html.twig' %}

{% block title %}Green Village
{% endblock %}

{% block body %}
			<div class="row align-items-center bg-dark banniere mx-auto text-center">
				{% for  categorie in categories %}
					{# afficher uniquement les categories parent #}
					{% if categorie.parentCategorie is null %}
						<div class="col">
							<a href="{{ path('app_sous_categorie', {'parent_categorie_id': categorie.id}) }}" class="text-white font-weight-bold">
								{{ categorie.libelleCategorie}}
							</a>
						</div>
					{% endif %}
				{% endfor %}
			</div>

	<div class="contenu">
		<h1 class="mb-5">
			{{ libelle_categorie }}</h1>
		<!-- <a href="add_form.php" class="btn btn-primary float-end">Ajouter</a> -->
		<main class="container">
			<div class="row">
				<div class="col-10 mx-auto">
					<div class="d-flex flex-wrap justify-content-around">

						{% for produit in produits %}
							{# <div class="col-md-6 col-lg-5 mb-4"> #}
							<div class="card mt-5 w-25">
								<a href="{{ path('app_detail_produit', {'id': produit.id}) }}">
									<img class="card-img-top mx-auto" src="{{ asset(produit.photo) }}" alt="{{ produit.libelleProduit }}">
									<div class="card-body">
										<h5 class="card-title">
											<a href="{{ path('app_detail_produit', {'id': produit.id}) }}"></a>
											{{ produit.libelleProduit }}</h5>
										<p class="content bg-body">
											{{ produit.descriptionProduit}}</p>
										<p class="content bg-body">
											{{ produit.prix}}
											euros</p>
									</div>

									<div class="card-footer mt-2">
										{% if produit.quantiteStock == 0 %}
											<p class="text-danger">Stock épuisé !</p>
										{% else %}
											<form action="{{ path('panier_ajout', {'id': produit.id}) }}" method="post">
												<div class="d-flex justify-content-center"></button>
											</form>

										</div>
									</div>

								{% endif %}
							</div>
						{% endfor %}

					</main>
					<div class="nav-item text-orange">
						<a class="nav-link text-center" href="{{ path('app_categorie') }}">Retour au catalogue</a>
					</div>

				</div>
				{# {% include "partials/footer.php" %} #}
			{% endblock %}
