{% extends 'base.html.twig' %}

{% block title %}Green Village
{% endblock %}

{% block body %}
{# {% include "partials/banniere.html.twig" %} #}
			<div class="row align-items-center bg-dark banniere mx-auto text-white">
				{% for  categorie in categories %}
					{% if categorie.parentCategorie is null %}
						<div class="col">
							<a href="{{ path('app_sous_categorie', {'parent_categorie_id': categorie.id}) }}" class="text-white font-weight-bold">
								{{ categorie.libelleCategorie}}
							</a>
						</div>
					{% endif %}
				{% endfor %}
			</div>

	<div class="contenu">
		{# <h1 class="fst-italic mb-5">Notre super catalogue</h1> #}
		<main class="container">
			<div class="row">
				<div class="d-flex flex-wrap justify-content-around">
					{% for  categorie in sous_categories %}
						{# {% if categorie.parentCategorie is not null %} #}
						<div class="col-md-4 mb-5">
							<div class="card w-50 " id="images">
								<a href="{{ path('app_produits_categorie', {'id': categorie.id}) }}">
									<img
									class="card-img-top mx-auto mb-5" src="{{ asset(categorie.imageCategorie) }}" alt="{{ categorie.imageCategorie }}">
									{# <img class="card-img-top mx-auto" src="{{ asset( categorie.image_categorie) }}" alt="{{ categorie.libelleCategorie }}"> #}
									{{ categorie.libelleCategorie}}
								</a>
								{# <div
									class="card-body mt-5">
									<p class="card-text">
										{{ categorie.descriptionCategorie}}</p>
								</div> #}
							</div>
						</div>
						{# {% endif %} #}
					{% endfor %}
				</div>
			</div>
		</main>
		<div class="nav-item">
			<a class="nav-link text-center text-orange" href="{{ path('app_accueil') }}">Retour à l'accueil</a>
		</div>

	</div>

	{# {% include "partials/footer.php" %} #}

{% endblock %}
