{% extends 'base.html.twig' %}

{% block title %}Village Green
{% endblock %}

{% block body %}
	<div class="contenu">

		<div class="container mt-5" id="formulaire">
			<h2 class="fst-italic text-center">Nous contacter</h2>

			{# <div class="row text-center justify-content-center">
				{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}
				) }}
				<div class="my-custom-class-for-errors">
					{{ form_errors(form) }}
				</div>
				<div
					class="mb-4 mt-4">
					{{ form_row(form.objet) }}
				</div>
				<div class="col-9 mx-auto mb-4">
					{{ form_row(form.email) }}
				</div>
				<div class="mb-4">
					{{ form_row(form.message) }}
				</div>
				<div class="mb-4">
					{{ form_end(form) }}
				</div>
			</div> #}


			{# Affichage des messages flash de confirmation#}
			{# {% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }}">
					{{ message }}
				</div>
			{% endfor %} #}

			
			{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
		{% endfor %}
		</div>
	</div>
</div></div>{# {% include "partials/footer.php" %}  #}{% endblock %}
