<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
				Green Village
			{% endblock %}
		</title>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
		<link
		rel="stylesheet" href="{{ asset('styles/style.css') }}">
		{# <link rel="stylesheet" href="{{ asset('CSS/style.css') }}"> #}
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			{{ encore_entry_script_tags('app1') }}

			{# Barre de navigation #}
			{# <nav class="navbar navbar-expand-lg navbar-light bg-light align-items-center pr-5"> #}
				<nav class="navbar navbar-expand-lg navbar-light bg-light"> <div class="container-fluid m-auto fixed-top mb-5" id="menu">

					<!-- Logo -->
					<a class="navbar-brand logo d-flex col-3 mx-2 mt-4 py-3 justify-content-center" href="{{ path('app_accueil') }}">
						<img src="{{ asset('IMG/logo.webp') }}" alt="logo" style="width: 50%; border-radius: 60%;">
					</a>

					<!-- Lien Catalogue -->
					<div
					class="nav-item active mx-auto"> 
					<a class="nav-link fs-5 text-dark" href="{{ path('app_categorie') }}" title="Liste des produits">
					Catalogue <i class="bi bi-music-note"></i><i class="fa fa-guitar"></i>
					</a>
					</div>


					<!-- Champ de recherche entre le logo et les onglets -->
					<div id="app1-root"></div>

					<!-- Toggle button pour les petits écrans -->
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<!-- Liens de navigation avec collapse pour mobile first-->
					<div class="collapse navbar-collapse" id="navbarNav" style="max-width: 300px; margin: 0 auto">
						<div class="card card-body">
							<ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-content-center" style=" gap: 40px; font-size: 25px">
								{# <ul class="navbar-nav ms-auto"> #}

								{% if app.user %}
									{% if is_granted('ROLE_ADMIN') %}
										<li class="nav-item active">
											<a class="nav-link" href="{{ path('admin') }}" title="Accès Dashboard">
												Administration<i class="bi bi-person-fill-gear"></i>
											</a>
										</li>
									{% endif %}
								{% endif %}

								{# test pour modale connexion admin #}
								{# <li class="nav-item active">
								<a href="#" id="openModalButton" class="nav-link text-orange" title="Admin" >
									<i class="bi bi-gear"></i>
								</a>
								</li> #}

								{# Menu de navigation avec uniquement les sous-catégories #}
									{# <li
									class="nav-item active mx-3">  #}
									{# <div class="dropdown"> #}
									{# <a
										class="nav-link" href="{{ path('app_categorie') }}" title="Liste des produits"> #}
										{# uniquement si dropdwn !!! id="dropdownCatalogue" data-bs-toggle="dropdown" aria-expanded="false"> #}
										{# Catalogue <i class="bi bi-music-note"></i><i class="fa fa-guitar"></i>
									</a> #}
									{# {% if sous_categories is not empty %}
									            <ul class="dropdown-menu" aria-labelledby="dropdownCatalogue">
									                {% for sousCategorie in sous_categories %}
									                    {% if sousCategorie.parentCategorie is not null %}
									                        <li class="dropdown-item">
									                            <a class="dropdown-item" href="{{ path('app_sous_categorie', {'parent_categorie_id': sousCategorie.parentCategorie.id, 'sous_categorie_id': sousCategorie.id}) }}">
									                                {{ sousCategorie.libelleCategorie }}
									                            </a>
									                        </li>
									                    {% endif %}
									                {% endfor %}
									            </ul>
									        {% endif %} #}

									{# </div> #}
								{# </li> #}


								{# Vérifie si l'utilisateur est authentifié #}
								{% if is_granted('IS_AUTHENTICATED_FULLY') %}
									<li class="nav-item dropdown mx-3">
										<a class="nav-link dropdown-toggle nav-link-custom" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="bi bi-person-fill"></i>
										</a>
										<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
											<li>
												<a class="dropdown-item" href="{{ path('app_profil') }}">
													<i class="bi bi-person"></i>
													Voir mon profil
												</a>
											</li>
											<li>
												<hr class="dropdown-divider">
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('app_logout') }}">
													<i class="bi bi-person-fill-slash"></i>
													<i class="fa fa-user-times"></i>
												</a>
											</li>
										</ul>
									</li>
								{% else %}
									{# Affiche le lien de connexion si l'utilisateur n'est pas connecté #}
									<li class="nav-item" title="Inscription/Connexion">
										<a class="nav-link nav-link-custom" href="{{ path('app_login') }}">
											<i class="bi bi-person-fill"></i>
										</a>
									</li>

									{# <li class="nav-item active">
									{# <a href="#" id="exampleModal" class="nav-link text-orange" title="login modal" >
									mopdal login
										</a>
									</li> #} 
								<!-- Button trigger modal -->
									{# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
									  								Login modal user test 
																	</button> #}

								{% endif %}
								<!-- Button contact modal -->
{# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  contact modal
</button> #}

								{# <li class="nav-item mx-3">
									<a class="nav-link" href="{{ path('app_contact') }}" title="Contact">
										<i class="bi bi-envelope-at"></i>
									</a>
								</li> #}

								<li class="nav-item mx-3" style="position = relative">
									{# Vérifier si le panier contient des articles et afficher le total#}
									{# {% if quantiteTotal> 0 %}
																								{{ render(path('panier_quantity')) }}
																								<span	class=" position-absolute translate-middle badge rounded-pill bg-danger"	id="cart-quantity">
																								{{ quantiteTotal }}
																								</span>
																							{% endif %} #}

									{# Afficher le nombre d'articles au-dessus de l'icône du panier #}
										<div
										class="cart-icon"> {# Appel à la route qui affiche la quantité totale dans le panier #}
										{{ render(path('panier_quantity')) }}
									</div>
									<a class="nav-link nav-link-custom" href="{{ path('panier_index') }}" id="monPanierBtn" title="Panier">
										<i class="bi bi-basket"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</body>
	</html>
</div>
<div>
	{# {% include "security/modal_login_admin.html.twig" with {'error': error, 'last_username': last_username} %} #}
	{# {% include "security/modal_login_user.html.twig" %} #}
</div>


{% block body %}{% endblock %}

<!-- Importation de la modale -->
{# {% include 'security/modal_login_admin.html.twig' %} #}
{% include 'partials/modal_contact.html.twig' %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
	<script src="{{ asset('JS/main.js') }}"></script>

	<!-- Script pour ouvrir la modale -->
	{# <script>
	        document.getElementById("openModalButton").addEventListener("click", function(event) {
	            event.preventDefault(); // Empêche le comportement par défaut du lien
	            var modal = new bootstrap.Modal(document.getElementById("adminModal"));
	            modal.show(); // Affiche la modale
	        });
	    </script> #}
{% endblock %}</body></html>
